body {
  background: #f9f9f9;
  color: #202225;
  align-items:center;
  justify-content:center;
}

body div.darkmode {
  display: inline-block;
  color: black;
  font-size: 1rem;
  padding: 1rem 1rem 0.75rem 1rem;
  cursor: pointer;
}

body.dark .darkmode .light,
body:not(.dark) .darkmode .dark {
  display: none;
}
.fa{
  cursor: pointer;
}